<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>phishing.org.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>phishing.org.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>USER</servlet-name>
        <servlet-class>phishing.org.USER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>link</servlet-name>
        <servlet-class>phishing.org.link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountuser</servlet-name>
        <servlet-class>phishing.org.accountuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feed</servlet-name>
        <servlet-class>phishing.org.feed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>USER</servlet-name>
        <url-pattern>/USER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>link</servlet-name>
        <url-pattern>/link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountuser</servlet-name>
        <url-pattern>/accountuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feed</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
